.home {
	padding-bottom: 112px;
	@media (max-width: 991.98px) {
		padding-bottom: 50px;
	}
	@media (max-width: 479.98px) {
		padding-bottom: 30px;
	}
	&.home-pb {
		padding: 0px 0px 30px 0px;
	}
	// .home__bg
	&__bg {
		position: relative;
		background: url(../img/Home/01.jpg) no-repeat;
		background-size: cover;
		background-position: 0 25%;
		min-height: 677px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}
	}

	// .home__body

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		position: relative;
		min-height: 677px;
		z-index: 3;
	}

	@media (max-width: 991.98px) {
		&__bg {
			min-height: 450px;
		}
		&__body {
			min-height: 450px;
		}
	}
}

.body-home {
	// .body-home__title
	&__title {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 42px;
		color: #fff;
		margin-bottom: 40px;
		@media (max-width: 767.98px) {
			font-size: 20px;
		}
	}
	&__flex {
		display: flex;
		width: 100%;
	}
}

.btn {
	color: #fff;
	background-color: $mainColor;
	border: 1px solid $mainColor;
	padding: 9px 15px;
	border-radius: 50px;
	letter-spacing: 1px;
	transition: background-color 0.5s ease;
	@media (min-width: 767.98px) {
		&:hover {
			background-color: $mainColorHover;
		}
	}
}

.title {
	margin-bottom: 20px;
	text-align: center;

	&::after {
		content: "\f0c4";
		font-family: $fontAwesome;
		font-weight: 600;
		font-size: 22px;
		color: #ccc;
	}

	h3 {
		color: $mainColor;
		font-size: 40px;
		font-weight: 500;
	}
}

.text {
	color: $mainDarkColor;
	line-height: 2;
}

@media (max-width: 479.98px) {
	.body-home__title {
		font-size: 20px;
	}

	.body-home__text {
		font-size: 16px !important;
	}
}

// Welcome ==========================================================================================

.welcome {
	padding: 0px 0px 80px 0px;
	@media (max-width: 767.98px) {
		padding: 0px 0px 30px 0px;
	}
	// .welcome__items

	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}

	// .welcome__image

	&__image {
	}

	// .welcome__body

	&__body {
		flex: 0 1 500px;
		padding: 0 0 0 15px;
	}

	.body-welcome {
		.body-welcome__title {
			h3 {
				padding-bottom: 10px;
				b {
					text-transform: uppercase;
					font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
					letter-spacing: 6px;
				}
			}
		}
		.body-welcome__text {
			max-width: 600px;
		}
	}

	@media (max-width: 991.98px) {
		&__items {
			flex-direction: column-reverse;
		}

		&__image {
			width: 60%;
		}

		&__body {
			flex: 0 1 100%;
			margin-bottom: 25px;
		}
	}
}

// Services & Pricing ===========================================================================

.services {
	background-color: #f6f5f5;
	padding: 0px 0px 80px 0px;
	@media (max-width: 991.98px) {
		padding: 0px 0px 60px 0px;
	}
	@media (max-width: 767.98px) {
		padding: 0px 0px 30px 0px;
	}
	// .services__text
	&__text {
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}
}

.card-services {
	padding: 50px 0px 0px 0px;
	@media (max-width: 767.98px) {
		padding: 20px 0px 0px 0px;
	}
	// .card-services__items

	&__items {
		display: flex;
		margin: 0 -5px;
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}
	&__columns {
		padding: 0 5px;
		flex: 0 0 33.333%;
		overflow: hidden;
		@media (max-width: 767.98px) {
			margin: 0px 0px 20px 0px;
		}
	}

	// .card-services__item
	&__item {
		height: 100%;
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		padding: 0 0 10px 0;
	}
}

.item-card {
	// .item-card__image
	&__image {
		overflow: hidden;
		position: relative;
		padding: 0px 0px 52% 0px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}

	// .item-card__pricing

	&__pricing {
		padding: 30px;
		flex: 1 1 auto;
		@media (max-width: 991.98px) {
			padding: 10px;
		}

		@media (max-width: 767.98px) {
			padding: 20px;
		}
	}
}

.pricing-item {
	// .pricing-item__title

	&__title {
		position: relative;
		margin-bottom: 30px;
		h3 {
			font-size: 28px;
			font-weight: 400;
			padding-bottom: 30px;
			@media (max-width: 991.98px) {
				font-size: 20px;
				padding-bottom: 15px;
			}
			@media (max-width: 767.98px) {
				font-size: 23px;
			}
			@media (max-width: 479.98px) {
				font-size: 20px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 40px;
			height: 2px;
			background-color: $mainColor;
		}
	}

	// .pricing-item__item

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 10px 0;
		color: $mainDarkColor;
		@media (max-width: 991.98px) {
			font-size: 14px;
		}
		@media (max-width: 767.98px) {
			font-size: 18px;
		}
		@media (max-width: 479.98px) {
			font-size: 13px;
		}

		&:last-child {
			margin: 0;
		}

		span {
			font-weight: 700;
			color: #000;
			padding: 0 0 0 10px;
		}
	}

	&__btn {
		background-color: $mainColor;
		display: inline-block;
		width: 190px;
		padding: 10px 0;
		border-radius: 10px;
		text-align: center;
		color: #fff;
		margin: 0 auto;
		@media (max-width: 991.98px) {
			width: 160px;
		}
		@media (max-width: 767.98px) {
			font-size: 15px;
			width: 190px;
		}
		@media (max-width: 479.98px) {
			font-size: 14px;
			width: 160px;
		}
	}
}

@media (max-width: 991.98px) {
	.card-services {
		// .card-services__items

		// .card-services__item

		&__item {
		}

		.pricing-item__list {
			ul {
				margin-bottom: 50px;
			}
		}
	}
}

// Раздел 2 Услугы и цена ================================================================================================

.services-2 {
	background: url(../img/services/main-bg-3.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
	@media (max-width: 767.98px) {
	}

	// .services-2__block

	&__block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -10px;
	}

	// .services-2__columns
	&__columns {
		flex: 0 1 33.3333%;
		margin: 0px 0px 100px 0px;
		padding: 0 10px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: 767.98px) {
			margin: 0px 0px 50px 0px;
		}
	}

	// .services-2__item
	&__item {
	}

	// .services-2__image

	&__image {
		width: 350px;
		height: 350px;
		position: relative;
		text-align: center;
		@media (max-width: 767.98px) {
			width: 233px;
			height: 233px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__btn {
		text-align: center;
		letter-spacing: 1.5px;
		font-size: 18px;
		border-radius: 8px;
		height: 40px;
		line-height: 40px;
		@media (max-width: 767.98px) {
			font-size: 14px;
		}
		a {
			background-color: #ceac92;
			color: #fff;
			padding: 9px 15px;
			@media (min-width: 767.98px) {
				&:hover {
					background-color: #ceac80;
				}
			}
		}
	}
}

// РАБОТА =============================================================================

.gallery-works {
	// .gallery-works__items

	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 auto;
	}
}

.works {
	padding: 0px 0 100px 0;

	// .works__gallery
	&__gallery {
	}
	&__gallery-items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 -15px;

		.works__gallery-item {
			padding: 0 15px;
			flex: 0 0 15%;
			height: 200px;
			overflow: hidden;
			margin: 0px 0px 30px 0px;
			@media (min-width: 767.98px) {
				&:hover {
					img {
						transform: scale(1.4);
						filter: contrast(0.5);
					}
				}
			}
			@media (max-width: 767.98px) {
				flex: 0 0 18%;
				height: 80px;
				margin: 0px 0px 10px 0px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.3s ease;
				border-radius: 5px;
			}
			span {
				visibility: hidden;
				position: absolute;
				top: 40%;
				left: 33%;
				color: #fff;
				font-size: 25px;
				letter-spacing: 8px;
				@media (min-width: 767.98px) {
					&:hover span {
						visibility: visible;
					}
				}
			}
		}
	}
}

.gallery-works {
	// .gallery-works__item

	&__item {

	}
}

// Второй раздел работа ================================================================================================

.home {
	// .home__bg-2

	&__bg-2 {
		background: url(../img/services/services-bg.png);
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
	}

	// .home__contacts-bg

	&__contacts-bg {
		background: url(../img/Home/contacts-bg.png);
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		height: 400px;
	}

	&__bg-works {
		background: url(../img/works/works-bg.png) center center;
		background-size: cover;
		background-repeat: no-repeat;

		@media (max-width: 991.98px) {
			background-position: 100%;
		}
	}
}

.body-home-2 {
	display: flex;
	align-items: flex-end;

	.body-home__title {
		font-weight: 700;
	}

	.body-home__text {
		text-align: right;
		max-width: 900px;
		font-size: 25px;
		font-weight: 400;
		color: #fff;
		@media (max-width: 767.98px) {
			font-size: 17px;
			max-width: 600px;
		}
	}
}

// Раздел СТРИЖКИ ================================================================================================

.services-heading {
	padding-bottom: 60px;

	// .services-heading__block

	&__block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	@media (max-width: 767.98px) {
		&__block {
			flex-direction: column;
		}
	}
}

.block-heading {
	// .block-heading__services-item

	&__services-item {
		flex: 0 1 33.3333%;
		text-align: center;
		padding: 0 5px;
	}
}

.item-services {
	// .item-services__heading

	&__heading {
		text-transform: uppercase;
		font-size: 18px;
		margin: 20px auto;
	}
}

// Раздел цены стрижки ================================================================================================

.services-pricing {
	padding: 50px 0 100px 0;
	background: url(../img/services/main-bg-3.png);

	// .services-pricing__posible

	&__posible {
		margin-top: 100px;
	}

	// .services-pricing__item

	&__item {
		display: flex;
		align-items: center;
	}

	// .services-pricing__block-subtitle
	&__block-subtitle {
		text-align: center;
		margin-bottom: 50px;
	}

	@media (max-width: 767.98px) {
		&__item {
			flex-direction: column;
		}

		.item-pricing__title {
			text-align: center;
		}
	}
}

.heading {
	text-align: center;
	font-size: 30px;
	color: #1b1b1b;
	letter-spacing: 1.7px;
	margin-bottom: 60px;
}

.item-pricing {
	border-bottom: 1px solid #acacac4d;
	padding: 10px;
	// .item-pricing__title

	&__title {
		flex: 0 1 25%;
		padding: 0 20px 0 0;
		font-size: 18px;
	}

	// .item-pricing__price

	&__price {
		flex: 0 1 25%;
		text-align: center;
	}
}

.flex {
	.item-pricing__price {
		flex: 0 1 50%;
	}
}

// Сотрудницы ============================================================================

.workers {
	padding-bottom: 100px;
	@media (max-width: 767.98px) {
		padding: 0px 0px 50px 0px;
	}
	// .workers__container

	&__container {
	}

	// .workers__title

	&__title {
		margin-bottom: 50px;
		@media (max-width: 767.98px) {
			margin-bottom: 25px;
		}
		h3 {
			@media (max-width: 767.98px) {
				font-size: 20px;
				padding: 0px 0px 15px 0px;
			}
		}
	}

	.workers__carousel.owl-theme .owl-dots .owl-dot span {
		background-color: #00000070;
		transition: all 0.3s ease;
		margin: 0 5px;
		border-radius: 7px;
	}

	.workers__carousel.owl-theme .owl-nav.disabled + .owl-dots {
		margin-top: 50px;
		@media (max-width: 767.98px) {
			margin-top: 20px;
		}
	}

	.workers__carousel.owl-theme .owl-dots .owl-dot.active span {
		width: 12px;
		height: 12px;
	}
	.workers__carousel.owl-theme .owl-dots .owl-dot.active span {
		background-color: #00fba2;
	}
	@media (min-width: 767.98px) {
		.owl-theme .owl-dots .owl-dot:hover span {
			background-color: #00fba2;
		}
	}
}

.carousel-workers {
	// .carousel-workers__item

	&__item {
		flex: 0 0 33.33333%;
	}
}

.item-workers {
	// .item-workers__image

	&__image {
		width: 100%;
		height: 360px;
		margin-bottom: 15px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .item-workers__name

	&__name {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 22px;
		color: $mainColor;
		font-weight: 700;
		@media (max-width: 767.98px) {
			font-size: 18px;
		}

		small {
			font-size: 15px;
			color: $mainDarkColor;
			@media (max-width: 767.98px) {
				margin-top: 10px;
			}
		}
	}
}

// Контакты ================================================================================

.our-salon {
	padding-bottom: 30px;

	// .our-salon__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}

	// .our-salon__map

	&__map {
		flex: 0 1 50%;
		padding: 0 8px;

		iframe {
			width: 100%;
			height: 100%;
		}
	}

	// .our-salon__image

	&__image {
		flex: 0 1 50%;
		padding: 0 8px;
	}

	@media (max-width: 991.98px) {
		&__map {
			flex: 0 1 100%;
			margin: 0px 0px 15px 0px;

			iframe {
				width: 100%;
				height: 380px;
			}
		}
		&__image {
			flex: 0 1 100%;
		}
	}
}

.text {
	@media (max-width: 767.98px) {
		font-size: 13px;
	}
}
.title h3 {
	@media (max-width: 767.98px) {
		padding-bottom: 20px;
	}
}
